{% extends "./base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        
        country_flag
        <div class="media-body">
          <p class="text-secondary">{{ user.email }}</p>
          {% if user.location  %}
              <p class="text-secondary">{{ user.location }}</p>
              <img class="rounded-circle account-img" src="{{ country_flag }}">
          {% else %}
              <p class="text-secondary">Australia</p>
              
          {% endif %}
        </div>
      </div>
      <!-- FORM HERE -->
      <form action="" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Profile Info</legend>
				{{ u_form|crispy }}
				{{ p_form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Update</button>
			</div>
		</form>
    </div>
{% endblock content %}